name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

#      - name: Add server to known_hosts
#        run: |
#          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy www folder via rsync
        run: |
          rsync -avz --delete \
            --exclude=".git" \
            --exclude=".github" \
            --exclude="config/db.php" \
            ./www/ \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/porcelanosa/data/www/short-gen.sa6.ru/

      - name: Run composer and migrations
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            cd /var/www/porcelanosa/data/www/short-gen.sa6.ru &&
            composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader &&
            php yii migrate --interactive=0
          "
